.form-window {
    display: flex;
    width: 100%;
    margin-top: 2rem;

    h2, h5 {
        text-align: center;
    }

    .form-panel {
        background-color: var(--bgl100);
        width: 50%;
        height: auto;
        min-height: 259px;
        padding: 2.5rem;
        margin-inline: auto;
        overflow-y: auto;
        border-radius: 2.5rem 2.5rem 0 0;
        position: absolute;
        bottom: 137px;
        top: 230px;
        left: 0;
        right: 0;
        padding-bottom: 340px;
    }

    .form-nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;

        a {
            margin-block: 5px;
            padding: 5px 10px;
            border-radius: 10px;
            width: 200px;
            position: relative;
            margin-left: 1.5rem;

            transition: background-color, color;
            transition-duration: .2s;

            svg {
                height: 20px;
                path {
                    fill: var(--fgl000);
                }
            }

            &:hover, &.active {
                background-color: var(--bgl200);
            }


            &.active {
                color: var(--fg000);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);

                p.title {
                    font-weight: normal;
                    color: var(--pl000)
                }

                svg path {
                    fill: var(--pl000);
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 10px;
                    background-color: var(--pl000);
                    border-radius: 100px;
                    left: -1.7rem;
                }


            }

            p {
                &.title {
                    font-size: 1.2rem;
                }

                &.sub-title {
                    font-size: 1rem;
                    opacity: .7;
                    text-transform: uppercase;
                }
            }

            svg {
                margin-right: 15px;
            }
        }


    }

    .form-actions {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        height: 100px;
        background-color: var(--bgl100);
        border-top: 5px solid var(--bgl200);
        box-shadow: -10px 0 20px 0 rgba(0, 0, 0, .5);
        gap: 1rem;
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            font-size: 1rem;
            width: 138px;
            height: 55px;
            text-align: center;

            &:nth-child(1) {
                margin-right: 1rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    right: -1.3rem;
                    top: 25%;
                    bottom: 25%;
                    width: 5px;
                    background-color: var(--bgl200);
                    border-radius: 100px;
                }

            }
        }
    }
}